*  {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: url(..//images/disk.jpeg) no-repeat;
    background-size: cover;
    color:#dfe0e2;;
}

header a {
    text-decoration: none;
}

.head {
    text-align: center;
    font-size: xx-large;
    color: #e4e5e7;;
    background-color: black;
}

.about-box {
    width: 70vw;
    height: 81vh;
    margin: 0 auto;
    background:#000000a6;;
    border: 6px solid var(--honey-yellow);
    text-align: center;
    padding: 21rem 0;
    margin-top: 7.5rem;
    margin-bottom: 7.5rem;
    margin-bottom: 7.5rem;
}

.begin-btn{
    position: absolute;
    right:60%;
}

.exit-btn{
    position: absolute;
    left:61%;
}

button {
    font-size: 20px;
    font-weight: 400;
    color: black;
    background-color: #d4d5d7
    border: none;
    padding: 5px 20px;
    cursor: pointer;
}

